# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# APK
apk-dev.apk
dev.apk
sarcApp.apk
application-3449c934-497d-4a8c-990c-5ee5055d92b9.apk

# Arquivo 

src/screens/resultado/resultado.txt
src/screens/resultado/teste.txt
src/screens/resultado/teste1.txt
src/screens/salvos



assets/images/verde/